@import "tailwindcss";

/* GLOBAL RESET / BASE */
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

/* COMPONENTS */
@layer components {
  @import "./sidebar.css";
  @import "./admin-layout.css";
  @import "./list-floral.css";
  @import "./pedidos.css";
}

/* UTILITIES */
@layer utilities {
}
