@import "tailwindcss";
@import "./styles/theme.css";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    text-decoration: none;
  }
}

@layer components {
  @import "./styles/list-floral.css";
  @import "./styles/pedidos.css";
  @import "./styles/print-pedido.css";
}
